/* google font */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #6b6b6bc5;
  margin: 0;
  font-family: "Jersey 10";
}
header {
  background: #ff5252;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: space-between; /* This pushes the divs to the left and right */
  align-items: flex-start; /* Aligns the divs to the top of the container */
  margin-top: 20px;
  padding: 0 20px; /* Optional: Adds padding to the left and right sides */
}

.workout-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 20px; /* Adds space between the grid items */
  flex: 1;
}

.workout-create {
  flex: 0; /* The div will take up only as much space as its content requires */
}

