/* google font */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #6b6b6bc5;
  margin: 0;
  font-family: "Jersey 10";
}
header {
  background: #ff5252;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

